<launch>

    <node pkg="puppy_vision_language" type="puppy_vision_language.py" name="puppy_vision_language" output="screen"> </node>
    <node pkg="puppy_vision_language" type="puppy_controller.py" name="puppypi_direct_driver" output="screen"> </node>

    <include file="$(find puppy_slam)/launch/hector.launch" />

</launch>
